#box { 
    width: 100px; 
    height: 100px; 
    position: absolute; 
    background: 
    gray; 
    left: 200px; 
    top: 200px; 
    background-image: url(img/E674B6C6-DB7F-42E0-A669-5A1CB869F2C3.jpeg);
}